.services{
    display: flex;
    flex-direction: row;
    align-items: start;
    height: 90vh;
    padding: 50px;
    gap: 10px;
}

.service {
    display: flex;
    align-items:center;
    justify-content: center;
    width: 20%;
    height: 200px;
    background-color: antiquewhite;
    color: black;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px solid aqua;
}

.service-title{
    text-align: center;
}