.about section{
    display: flex;
    flex-direction: row;
    background-color:black;
}


.about-info{
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info{
    display: flex;
    flex-direction: column;
    align-items:left;
    justify-content: center;
}

.stack{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
    gap: 5px;
}
.stack-item {
    display: flex;
    align-items:center;
    justify-content: center;
    height: 50px;
    width: 20%;
    background-color: white;
    border-radius: 10px;
    color:black;
}
.technologies{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
    gap: 10px;
}
.tech{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    height: 50px;
    width: 20%;
    background-color: white;
    border-radius: 10px;
    color:black;
    gap: 20px;
}
h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.stack span:nth-child(1){
    color: rgb(8, 151, 8);
}
.stack span:nth-child(3){
    color:aqua;
}

.img-for-about{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex: 1.5;
    padding: 50px;
    margin: 20px;
}
.line {
    height: 100vh;
    width: 2px;
    align-items:center;
    justify-content: center;
    margin-top: 100px;
    background-color:white;
}

.img-for-about img {
    height: 50%;
    width: 50%;
    box-shadow: 3px 2px 2px 2px rgb(187, 238, 221);
    border-radius:50%;
    border: 3px solid aqua;
    object-fit: contain;
}